body {
	background: url("nigth.jpeg");
	background-size: cover;
    background-position: center;
	background-repeat:no-repeat;
	 object-fit: cover;
	 height:100vh;
	 padding: 0;
	 margin: 0;
}

.all {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
justify-content: center;
  padding: 0;
  margin: 0;
}

/* slide Snowden  */

.flip-box {
	width: 20%;
  height:50%;
 
  perspective:1000px;
  left: 78%;
  top: 22%;
  
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-box-inner {
  position:absolute;
  width: 100%;
  height:100%;
  transition:transform 2s;
  transform-style:preserve-3d;
}

.flip-box-front {
   background: linear-gradient(45deg, #032440 15%, #eeb645 100%);
  color:black;

}

.flip-box-front p {
  position: absolute;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  top: 15%;
}

.flip-box-front::before {
  content: '\201C';
  position: absolute;
  top: -20px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.2;
}

.flip-box-front::after {
  content: '\201D';
  position: absolute;
  top: 70%;
  right: 5px;
  font-size: 120px;
  opacity: 0.2;
}



.flip-box-front h2 {
  position: absolute;
  top: 85%;
  left: 30%;
  

  width: 70%;
}
.flip-box-back {
  background: url("edward-snowden.jpeg");
  background-size: cover;
  background-position-x: -190px;
  transform: rotateY(180deg);
  
}

.flip-box-front, .flip-box-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-box:hover .flip-box-inner {
  transform:rotateY(180deg);
}


  .fond {
  	width: 24%;
height: 91%;
background-image: url(https://www.angelxp.eu/iphone5/02/Anonymous07.jpg);
object-fit: cover;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: absolute;
top: 4%;
left: 1%;
border: 5px solid white;
border-image: linear-gradient(128deg, #141e30, white, #243b55);
border-image-slice: 1;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  


  
	

  .mission {
  	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN0YNlX-oYI9zhZ9BGd8-6Dlxs7tDBgFjPSA&usqp=CAU);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 4%;
  }
  
  .lyricsfish {
font-size: 17px;
letter-spacing: 2px;
color: rgb(255, 255, 255);
line-height: 18px;
height: auto;
width: 360px;
background: rgb(0,0,0,0.6);
text-transform: uppercase;
box-shadow: 5px 2px 35px 1px rgb(0, 75, 105);
position: absolute;
top: 14%;
text-align: center;
  }
  
  .textfish {
    width:400px;  
    font-size: 11px; 
    line-height: 13px; 
    color: #888; 
    text-align: justify; 
    margin-top: 20px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 10px
  }


/*BOUTTON */

.boutton {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 86%;
  left: 85%;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 14px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  border-radius: 5px;
}

.btn:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition-delay: 1s;
}


 a:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 10px black, 0 0 20px black;
  transition-delay: 0.1s;
}

button {
  background: none;
border: none;
}

.btn .b {
  position: absolute;
  display: block;
}

.btn .b:nth-child(1) {
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,white);  
}

.btn:hover .b:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.btn .b:nth-child(3) {
  bottom:0;
  right :-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(270deg,transparent,white);  
}

.btn:hover .b:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.btn .b:nth-child(2) {
  top:0;
  right :0;
  width: 2px;
  height:100%;
  background: linear-gradient(180deg,transparent,white);  
}

.btn:hover .b:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.btn .b:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height:100%;
  background: linear-gradient(360deg,transparent,white);  
}

.btn:hover .b:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/*  BOUTTON INSCRIPTION */

.boutton2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 29%;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: 14px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  border-radius: 5px;
}

.btn2:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition-delay: 1s;
}


 a:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 10px black, 0 0 20px black;
  transition-delay: 0.1s;
}


button {
 background: none;
border: none;
}


.btn2 .b2 {
  position: absolute;
  display: block;
}

.btn2 .b2:nth-child(1) {
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,white);  
}

.btn2:hover .b2:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.btn2 .b2:nth-child(3) {
  bottom:0;
  right :-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(270deg,transparent,white);  
}

.btn2:hover .b2:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.btn2 .b2:nth-child(2) {
  top:0;
  right :0;
  width: 2px;
  height:100%;
  background: linear-gradient(180deg,transparent,white);  
}

.btn2:hover .b2:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.btn2 .b2:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height:100%;
  background: linear-gradient(360deg,transparent,white);  
}

.btn2:hover .b2:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


@media screen and (max-width:1409px) and (min-width:1000px) {
  
   body {
    

  margin: 0;
  padding: 0;
  }
  
  .boutton2 {
    
  left: 22%;
  }
  
  .flip-box-front h2 {
    
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 13%;
  width: 72%;
  }
  .flip-box {
    
  height: 45%;
  left: 73%;
  top: 19%;
  width: 25%;
  }
  
  .flip-box-back {
  background-position: center;
  }
  .fond {
    width: 26%;
    height: 90%;
  }
  
  .lyricsfish {
    
  width: 290px;
  font-size: 13px;
  }
  
}
   




@media screen and (max-width:1599px) and (min-width:1410px) {
   
  body {
    

  margin: 0;
  padding: 0;
  }
  
  
  
  .flip-box-front h2 {
    
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 13%;
  }
  .flip-box {
    
  height: 45%;
  left: 74%;
  top: 15%;
  width: 25%;
  }
  
  .flip-box-back {
  background-position: center;
  }
  .fond {
    width: 25%;
    height: 90%;
  }
  
  .lyricsfish {
    
  width: 300px;
  font-size: 14px;
  }
  
}


@media screen and (max-width:1810px) and (min-width:1600px){
  
  body {
    width: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
  
  }
  .flip-box {
  position: absolute;
  width: 22%;
  top: 19%;
  left: 77%;
  }
  
  .flip-box-front h2 {
    
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 25%;
  }
  
  .flip-box-back {

  width: 105%;
  }
 
  .lyricsfish {
    
  }
  
  
}





