body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    height: 100vh;
    background: url("images/la_nsa.jpeg ");
    background-position: center;
    background-repeat:no-repeat;
    background-color: black;
	background-position-y: -5px;
  }


.mdp_oublie {
  
  width: 265px;
  height: 100px;
  position: absolute;
  top: 53%;
  left: 81%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  
  width: 25%;
  height: 550px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 50%;
  border: 5px solid white;
  border-image: linear-gradient(to right, #011b2c, white, #001a29);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
}

.mdp {
  
  position: absolute;
}

 .erreur {
    
  color: red;
  }

.forme {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.element_1 {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.label {
  
  margin: 15px;
  position: relative;
  color: white;
}

.input {
  
  border: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  text-align: center;
  border: 2px solid blue;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.25s;
  border-image: linear-gradient(303deg, #141e30, white, #243b55);
  border-image-slice: 100%;
  border-image-slice: 1;
  position: relative;
  top: 0%;
  color: white;
}

.input:focus {
  width: 235px;
border-color: rgb(255, 123, 35);
}


.titre {
  
  color: #fff;
  position: absolute;
  bottom: 83%;
}

.marqueurs {
  
  color: red;
  width: 100%;
  height: 50px;
  position: relative;
}



/*BOUTTON */

.boutton {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 86%;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 14px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  border-radius: 5px;
}

.btn:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition-delay: 1s;
}


button:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 10px black, 0 0 20px black;
  transition-delay: 0.1s;
  
}

button {
 background: none;
border: none;
}

.btn .b {
  position: absolute;
  display: block;
}

.btn .b:nth-child(1) {
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,white);  
}

.btn:hover .b:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.btn .b:nth-child(3) {
  bottom:0;
  right :-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(270deg,transparent,white);  
}

.btn:hover .b:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.btn .b:nth-child(2) {
  top:0;
  right :0;
  width: 2px;
  height:100%;
  background: linear-gradient(180deg,transparent,white);  
}

.btn:hover .b:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.btn .b:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height:100%;
  background: linear-gradient(360deg,transparent,white);  
}

.btn:hover .b:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/*  BOUTTON INSCRIPTION */

.boutton2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 90%;
  width: 130px;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: 14px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  border-radius: 5px;
}

.btn2:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition-delay: 1s;
}


 a:hover {
  box-shadow: 0 0 10px black, 0 0 10px black, 0 0 20px black;
  transition-delay: 0.1s;
}



.btn2 .b2 {
  position: absolute;
  display: block;
}

.btn2 .b2:nth-child(1) {
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,white);  
}

.btn2:hover .b2:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.btn2 .b2:nth-child(3) {
  bottom:0;
  right :-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(270deg,transparent,white);  
}

.btn2:hover .b2:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.btn2 .b2:nth-child(2) {
  top:0;
  right :0;
  width: 2px;
  height:100%;
  background: linear-gradient(180deg,transparent,white);  
}

.btn2:hover .b2:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.btn2 .b2:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height:100%;
  background: linear-gradient(360deg,transparent,white);  
}

.btn2:hover .b2:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/* BOUTTON SIGNALÉ */

.boutton3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 3%;
}

.btn3 {
  position: relative;
  display: inline-block;
  padding: 14px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, #141e30, #243b55);
  width: 100%;
  border-radius: 5px;
}

.btn3:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition-delay: 1s;
}


 a:hover {
  color: black;
  background:#f2f0f0;
  box-shadow: 0 0 10px black, 0 0 10px black, 0 0 20px black;
  transition-delay: 0.1s;
}


.contact {
 background: none;
border: none;
}


.btn3 .b3 {
  position: absolute;
  display: block;
}

.btn3 .b3:nth-child(1) {
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,white);  
}

.btn3:hover .b3:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.btn3 .b3:nth-child(3) {
  bottom:0;
  right :-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(270deg,transparent,white);  
}

.btn3:hover .b3:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.btn3 .b3:nth-child(2) {
  top:0;
  right :0;
  width: 2px;
  height:100%;
  background: linear-gradient(180deg,transparent,white);  
}

.btn3:hover .b3:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.btn3 .b3:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height:100%;
  background: linear-gradient(360deg,transparent,white);  
}

.btn3:hover .b3:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}








/* Titre du Jeu */

.text-box {
	font-family:poppins;
	font-size:50px;
	font-weight:600;
	letter-spacing:10px;
	display: flex;
	position:absolute;
	top: 8%;
	left: 50%;
	transform:translate(-50%,-50%);

}

.text-box span {
	color: #011d32;
	text-transform: uppercase;
	animation: animate 4s ease forwards infinite;
	
}

.text-box span:nth-child(1) {
	animation-delay: .1s;
}

.text-box span:nth-child(2) {
	animation-delay: .2s;
}

.text-box span:nth-child(3) {
	animation-delay: .3s;
}

.text-box span:nth-child(4) {
	animation-delay: .4s;
}

.text-box span:nth-child(5) {
	animation-delay: .5s;
}

.text-box span:nth-child(6) {
	animation-delay: .6s;
}

.text-box span:nth-child(7) {
	animation-delay: .7s;
	letter-spacing:50px;
}

.text-box span:nth-child(8) {
	animation-delay: .8s;
}

.text-box span:nth-child(9) {
	animation-delay: .9s;
}

.text-box span:nth-child(10) {
	animation-delay: 1s;
}

.text-box span:nth-child(11) {
	animation-delay: 1s;
}

.text-box span:nth-child(12) {
	animation-delay: 1s;
}

@keyframes animate {
	0%, 100% {
		text-shadow: 0 0 0 #fff;
	}

	50% {
		text-shadow: 0 30px 25px #fff;
	}
}

/*	slide 3D	*/

.flip-box {
	width: 300px;
	height:160px;
	border: ;
	position: relative;
	top: 30%;
	left: 5%;
	border: 5px solid aliceblue;

    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-image: linear-gradient(to right, #011b2c, white, #001a29);
    border-image-slice: 100%;
border-image-slice: 100%;
border-image-slice: 1;
}

.flip-box-inner {
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	transition:transform 0.8s;
	transform-style: preserve-3d;
}

.flip-box-front {
	background-image: url("images/confrontation.jpg");
 
	background-size: contain;
	background-repeat: no-repeat;
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width :100%;
	height:100%;

}

.flip-box:hover .flip-box-inner {
	transform:rotateY(180deg);
}


/*		*/
  .main-head {
  background: black;
color: #ffffff;
height: 5vh;
display: flex;
position: relative;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:25px;
  }

  .secret {
    width: 40px;
height: 5vh;
object-fit: cover;
  }

  .nasa {
	display: flex;
justify-content: center;
  }

	.usa {
		border: 5px solid aliceblue;
border-image: linear-gradient(to right, #141e30, white, #243b55);
border-image-slice: 1;
	width: 265px;
	position: absolute;
top: 30%;
right: 80%;
	}


  .logo {
  font-weight: normal;
display: flex;
justify-content: center;
align-items: center;
padding-left: 42%;
  }

  .box {
    width: 250px;
padding: 30px;
position: absolute;
top: 35%;
left: 88%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
background-color: rgba(0, 0, 0, 0.65);
border: 5px solid aliceblue;
border-image: linear-gradient(to right, #141e30, white, #243b55);
border-image-slice: 1;
padding-bottom: 45px;
    height: 47%;
}


  .inscription {
    width: 230px;
    padding: 40px;
position: absolute;
top: 75%;
left: 88%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
background-color: rgba(0, 0, 0, 0.65);
border: 5px solid aliceblue;
border-image: linear-gradient(to right, #141e30, white, #243b55);
border-image-slice: 1;
padding-bottom: 120px;

  }

  .inscrit {
background: white;
object-fit: cover;
width: 11%;
border: 0px solid white;
border-radius: 35px;
position: absolute;
left: 138px;
top: 20%;
  }

  
  

  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: flex;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blue;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
    border-image: linear-gradient(303deg, #141e30, white, #243b55);
    border-image-slice: 1;
    position: relative;
    top: 0%;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus,
  .box input[type = "text"]:valid,.box input[type = "password"]:valid 
{

    width: 235px;
    border-color: rgb(255, 123, 35);
  }
  
  svg{
    background: white;
    border-radius: 24px;
  }


@media screen and (max-width:1310px) and (min-width:1000px) {
    
     body {
    width: 100vw;
    height: 100vh;
  }
  .mdp {
    
  left: 31%;
  top: 93%;
  }
  .boutton {
    
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  .box input[type="text"], .box input[type="password"] {
    
  top: 0%;
  }
  
  .boutton2 {
    
  left: 87%;
  }
  
  .btn2 {
    
  padding-right: 0;
  }
  
  .flip-box {
    width: 220px;
    height: 117px;
    position: absolute;
    top:24%;
    left: 2%;
  }
  
  .main-head {
    position: absolute;
    top: 0%;
  }
  
  .box {
    position: absolute;
    left: 50%;
    top: 52%;
    background: rgba(0,0,0,0.9);
  
    width: 400px;
    height: 430px;
  }
  
 
  .inscription {
  width: 180px;
padding: 40px;
    padding-bottom: 40px;
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
padding-bottom: 25px;
    x 0px;
   position: absolute;
  border: none;
  background: none;
  }
  
  
  
  .inscrit {
    background: white;
object-fit: cover;
width: 8%;
border: 0px solid white;
border-radius: 35px;
position: absolute;
left: 17%;
top: 35%;
  }
  
  
  .box button {
    
  width: 100%;
  }
}

@media screen and (max-width:1500px) and (min-width:1311px) {
  body {
    width: 10%;
  }
  
  .flip-box {
    width: 250px;
    height: 132px;
  }
  
  .mdp {
    
  left: 17%;
  }
  .main-head {
    position: absolute;
    top: 0%;
  }
  
  .box {
    position: absolute;
  width: 200px;
  
  }
  
  .box input[type="text"], .box input[type="password"] {
    
  padding: 10px 0px;
  top: 2%;
  }
  
  .box button {
    
  }
  
  .inscription {
    width: 180px;
    padding: 40px;
position: absolute;
top: 76%;
left: 88%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
background-color: rgba(0, 0, 0, 0.65);
border: 5px solid aliceblue;
border-image: linear-gradient(to right, #141e30, white, #243b55);
border-image-slice: 1;
padding-bottom: 120px;

  }

  .boutton {
    
  }
  
  .boutton2 {
    
  }
  
  
  .inscrit {
background: white;
object-fit: cover;
width: 12%;
border: 0px solid white;
border-radius: 35px;
position: absolute;
left: 44%;
top: 20%;
  }

 

@media screen and (max-width: 1700px) and (min-width:1500px) {
  body {
    width: 20%;
    
    
  }
  
}








