body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	background-size: cover;
	height: 100vh;
	background: url("la_nsa.jpeg ");
	background-position: center;
	background-repeat:no-repeat;
	background-color: black;
	
  }

  .main-head {
  background: black;
color: #ffffff;
height: 5vh;
display: flex;
  }

  h2 {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size:25px;
  }

  .secret {
  	width: 40px;
height: 5vh;
object-fit: cover;
  }

  .russe {
  	width: 18rem;
height: 20vh;
object-fit: cover;
padding-top: 1%;
padding-left: 0%;
border: 5px solid white;
border-image: linear-gradient(303deg, #141e30, white, #243b55);
border-image-slice: 1;
  }
	
  .nasa {
  	display: flex;
flex-direction: row;
position: absolute;
width: 16%;
margin-top: 5%;
margin-left: 0%;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 1%;
border-radius: 20px;
  }
  
  .logo {
  font-weight: normal;
display: flex;
justify-content: center;
align-items: center;
padding-left: 42%;
  }

  .box {
  	width: 300px;
padding: 40px;
position: absolute;
top: 33%;
left: 88%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
background-color: rgba(0, 0, 0, 0.65);
border: 5px solid aliceblue;
border-image: linear-gradient(to right, #141e30, white, #243b55);
border-image-slice: 1;
}


  .forme {
  }

  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid blue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
	border-image: linear-gradient(to right, #141e30, white, #243b55);
	border-image-slice: 1;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: rgb(255, 123, 35);
  }
  .box button {
  	background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px inset #243b55;
padding: 14px 40px;
outline: none;
background-image: linear-gradient(to right, transparent 50%, #141e30 50%, white, #243b55);
background-size: 200%;
color: white;
cursor: pointer;
transition: 0.4s ease-out;
border-radius: 30px;
  }

  a {
	text-decoration:none; 
  }
  .box button:hover{
    color: black;
	background-position: 100%;
	border-radius:30px;

  }
	
  svg{
    background: white;
    border-radius: 24px;
  }
